@import "tailwindcss";

.button {
  background-color: #9aa6b2;
}

.button-text {
  color: #9aa6b2;
}

:hover.button {
  background-color: #bcccdc;
}

:focus.input {
  border-color: #9aa6b2;
}

:hover.button-text {
  color: #bcccdc;
}

.hide-scrollbar {
  overflow-y: scroll;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
